//$accent-colour: #02584b;
$text-color: #000000;
$section-background: #ffffff;
$background-color: #ffffff;
$input-border: #000000;
$primary-color: #ffffff;
$hover-color: #c4c2be;
$button-colour:black;
$button-text-color:white;
$font-size-base: 28px; 
$font-size-footer: 18px;
$font-size-small: 14px;
$secondary-colour: black;
$link-color: blue;